*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

:root{
    --cor-header: #080808;
    --cor-fundo: #101010;
    --cor-efeitos: rgb(42, 255, 155);
    --cor-texto: #fff;

}
html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    
}



.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 10%;
    background: var(--cor-header);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
   font-size: 3.5rem;
   color: var(--cor-efeitos); 
   display: none;
}

.logo{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(
    90deg,
     rgb(42, 225, 155) 100%,
    rgba(45, 192, 75, 0.1) 30%
    
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.navbar{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    pointer-events: auto;
}

.navbar a{
    font-size: 2.2rem;
    color: var(--cor-texto);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: rgba(42, 225, 155);
    border-bottom: 3px solid rgba(42, 225, 155);
}

.gradiente-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        90deg,
    rgb(42, 225, 155) 100%,
    rgba(45, 192, 75, 0.1) 30%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--cor-texto);
    border: none;
    text-wrap: nowrap;
}

.gradiente-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 7rem 15%;
    scroll-margin-top: 6rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    padding-top: 10rem;
    padding-bottom: 0;
    

    
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    
}

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    color: var(--cor-texto);
}

.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}

.home-content p{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img{
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--cor-efeitos);
    transition: 0.4s ease-in-out;
    
    
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--cor-efeitos),
                0 0 50px var(--cor-efeitos),
                0 0 100px var(--cor-efeitos);

}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--cor-efeitos);
    border-radius: 50%;
    color: var(--cor-efeitos);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--cor-efeitos);
    background-color: var(--cor-header);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--cor-texto);
}

.btn-group{
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--cor-efeitos);
    box-shadow: 0 0 25px var(--cor-efeitos);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn i{
    font-size: 1.8rem;
    align-items: center;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--cor-efeitos),
                0 0 50px var(--cor-efeitos);
   
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--cor-header);
}


.about-img img{
    width: 23vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--cor-efeitos);
    transition: 0.4s ease-in-out;
    align-items: center;
    
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--cor-efeitos),
                0 0 50px var(--cor-efeitos),
                0 0 100px var(--cor-efeitos);
}

.about-content h2{
    font-size: 7rem;
    text-align: left;
    
}

.about-content p{
    font-size: 3rem;
   
    margin-bottom: 2rem;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-texto);
}

::-webkit-scrollbar-track{
    background-color: var(--cor-header);
}

.heading{
    text-align: center;
    font-size: 7rem;
    
}

.services{
    background-color: var(--cor-fundo);
    color: black;
}

.services h2{
    color: var(--cor-texto);
    
    
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-efeitos);
    height: 450px;
    border-radius: 3rem;
    margin-top: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
    
}

.service-box:hover{
    background-color: var(--cor-header);
    color: var(--cor-efeitos);
    border: 5px solid var(--cor-efeitos);
    transform: scale(1.03);
}

.service-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.service-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.service-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}

.service-info i{
    font-size: 8rem;
}

.projects{
    background-color: var(--cor-header);
    min-width: auto;
    padding-top: 3rem;
    

    
}

.project-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-efeitos);
    border-radius: 3rem;
     gap: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--cor-efeitos);
    transition: 0.3s ease;
}

.project-card:hover{
    box-shadow: 0 0 25px var(--cor-efeitos),
                0 0 50px var(--cor-efeitos);
    transform: scale(1.02);
}

.project-card img{
    width: 100%;
    height: 285px;
    border-radius: 2rem;
    object-fit: cover;
    margin-bottom: 1px;
}

.project-card h3{
    font-size: 3rem;
   
}

.project-card p{
    font-size: 1.6rem;

}

.progress-container{
    width: 100%;
    height: 12px;
    background-color: #222;
    border-radius: 5px;
    margin-top: 2rem auto 0 auto;
    overflow: hidden;
}
.progress-bar{
    height: 100%;
    width: 0;
    border-radius: 5px;
}

.progress-text{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 1rem;
    display: block;
    color: #fff;
}

.contact{
    background-color: var(--cor-fundo);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--cor-texto);
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border-radius: 2rem;
    border: 2px solid var(--cor-efeitos);
    margin: 1.5rem 0;
    resize: none;
}

.footer{
    background-color: var(--cor-header);
    padding: 50px;
}

.footer .social-icons{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: var(--cor-texto);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--cor-efeitos);
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

@media(max-width:1285px){
    section{
        min-height: auto;
        padding: 4rem 5%;
    }
    
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgb(0, 0, 0, 0.852);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--cor-efeitos);
        border-bottom: 2px solid var(--cor-efeitos);
        display:none;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--cor-texto);
    }

    .navbar.active{
        display: block;
        pointer-events: auto;
    }
    
    .gradiente-btn{
        display: none;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        min-height: auto;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-content{
        align-items: center;
        text-align: center;
    }

    .home-content h1{
        font-size: 4.5rem;
    }

    .home-content h3{
        font-size: 2.5rem;
    }

    .home-content p{
        font-size: 1.6rem;
    }

    .home-img img{
        width: 60%;
        max-width: 260px;
        
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
        min-height: 100vh;
        gap: 2rem;
       
        
        
        
    }

    .about h2{
        text-align: center;
        margin: 2rem 0;
    }

    .about-content h2{
        font-size: 4rem;
    }

    .about-content p{
        font-size: 1.6rem;
    }

    .about img{
        width: 60%;
        max-width: 300px;
    }

    .contact form{
        flex-direction: column;
    }

}


